.header {
   position: relative;
   z-index: 3;

   &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: rem(20);
      @include adaptiveValue("padding-top", 37, 15);
      @include adaptiveValue("padding-bottom", 37, 15);
      //background-color: #df5050;
      flex-wrap: wrap;
   }

   &__menu {
      .menu__body {
         transition: all 0.8s ease 0s;

         .menu__list {
            display: flex;
            @include adaptiveValue("column-gap", 47, 15, 1572, 992, 1);

            @media (max-width: 800px) {
               flex-direction: column;
               row-gap: rem(35);
               color: $goldColor;
               font-size: rem(35);
               padding: rem(25);
            }

            .menu__item {

               .menu__link {
                  font-weight: 300;
                  line-height: 156%;
                  color: $secondGold;

                  @media (max-width:800px) {
                     font-weight: 800;
                  }

                  @media (any-hover: hover) {
                     &:hover {
                        text-decoration: underline;
                     }
                  }
               }
            }
         }

         @media (max-width:800px) {
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background-color: rgb(255, 241, 241);
            z-index: 4;
         }

         .menu-open & {
            left: 0;
         }
      }
   }

   &__logo {
      @media (max-width:800px) {
         flex: 1 1 auto;
      }

      svg {
         fill: $secondGold;
         @include adaptiveValue("width", 217, 100);
         @include adaptiveValue("height", 78, 50);
      }
   }

   &__actions {
      display: flex;
      align-items: center;
      @include adaptiveValue("column-gap", 48, 15, 1572, 992, 1);

      @media (max-width:800px) {
         @include adaptiveValue("padding-right", 50, 35, 800, 320, 1);
      }

      a,
      button {
         font-weight: 300;
         line-height: 156%;
         color: $secondGold;
      }

      &__item {
         @media (any-hover: hover) {
            &:hover {
               text-decoration: underline;
            }
         }
      }

      &__button {
         cursor: pointer;
         border: rem(1) solid $secondGold;
         border-radius: 50px;
         @include adaptiveValue("width", 137, 100);
         @include adaptiveValue("height", 46, 36);
         display: flex;
         align-items: center;
         justify-content: center;
         transition: all 0.8s ease 0s;

         button {
            line-height: 156%;
         }

         @media (any-hover: hover) {
            &:hover {
               background-color: $secondGold;
               color: white;
            }
         }
      }
   }
}


//Burger

.icon-menu {
   display: none;
   background: transparent;


   @media (max-width: 800px) {
      display: block;
      position: absolute;
      top: rem(35);
      right: rem(15);
      width: rem(30);
      height: rem(18);
      cursor: pointer;
      z-index: 10;

      span,
      &::before,
      &::after {
         content: "";
         transition: all 0.3s ease 0s;
         right: 0;
         position: absolute;
         width: 100%;
         height: rem(2);
         background-color: #000;
      }

      &::before {
         top: 0;
      }

      &::after {
         bottom: 0;
      }

      span {
         top: calc(50% - rem(1));
      }

      .menu-open & {
         span {
            width: 0;
         }

         &::before,
         &::after {}

         &::before {
            top: calc(50% - rem(1));
            transform: rotate(-45deg);
         }

         &::after {
            bottom: calc(50% - rem(1));
            transform: rotate(45deg);
         }
      }
   }
}