// Заголовки, общие БЄМ блоки и проче...
.bg-gold {
   position: relative;
   max-width: rem(137);
   height: rem(46);
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50px;
   overflow: hidden;

   &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      z-index: 3;
      background: url('@img/gold__bg.png') no-repeat;
   }

   button {
      background: transparent;
      position: relative;
      z-index: 5;
      font-weight: 300;
      line-height: 156%;
      text-align: center;
   }
}

.bg-img {
   position: relative;
   @include adaptiveValue("width", 140, 100);
   @include adaptiveValue("height", 140, 100);
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   overflow: hidden;

   &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      background: url('@img/gold__bg.png') no-repeat;
   }

   img {
      position: relative;
      z-index: 2;
   }
}


//?? Pattern for text block
/*<div class="about__top__text pattern-block">
                        <div class="about__top__text__title  pattern-block__title">About us</div>
                        <div class="about__top__text__subtitle pattern-block__subtitle">Treating pet like Royalty</div>
                        <blockquote class="about__top__text__qoute pattern-block__qoute">“They’re not just pets, they’re family”</blockquote>
                        <div class="about__top__text__mainText pattern-block__mainText">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                           Cras aliquam mi id augue ultrices, in tempus elit tristique. Aliquam ultrices sem non.</div>
                        <div class="about__top__text__button bg-gold pattern-block__button">
                           <button>Explore</button>
                        </div>
                     </div>*/

.pattern-block {
   display: flex;
   flex-direction: column;
   @include adaptiveValue("row-gap", 20, 15);

   &__title {
      line-height: 156%;
      text-transform: capitalize;
      min-height: rem(30);
   }

   &__subtitle {
      font-family: "Italiana";
      @include adaptiveValue("font-size", 48, 24);
      text-transform: capitalize;
      color: $goldColor;
      @include adaptiveValue("line-height", 57, 25);
   }

   &__qoute {
      font-style: italic;
      line-height: 156%;
      min-height: rem(27);
   }

   &__mainText {
      max-width: rem(458);
      line-height: 156%;
      min-height: rem(81);
   }

   &__button {
      height: rem(50);
   }
}